<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">
          Nom de l'appareil
        </label>
        <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          [(ngModel)]="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="active">
          Etat de l'active
          <select
            id="active"
            class="form-control"
            name="active"
            [(ngModel)]="default"
          >
            <option value="true">true</option>
            <option value="false">false</option>
          </select>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Enregistre
      </button>
    </form>
  </div>
</div>
