<div class="col-sm-8 col-ms-offset-2">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="drinkPreference">QUelle boisson preferez vous ? :</label>
      <select
        class="form-control"
        formControlName="drinkPreference"
        id="drinkPreference"
      >
        <option value="coca">Coca</option>
        <option value="pepsi">Pepsi</option>
        <option value="cafe">Cafe</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">
      Soumettre
    </button>
  </form>
</div>
