<li
  [ngClass]="{
    'mb-3': true,
    'list-group-item': true,
    'list-group-item-success': active,
    'list-group-item-danger': !active
  }"
>
  <div
    style="height: 20px ; width: 20px; background-color: rgb(255, 27, 27)"
    *ngIf="!active"
  ></div>
  <div
    style="height: 20px ; width: 20px; background-color: rgb(64, 250, 64)"
    *ngIf="active"
  ></div>
  <h4 [ngStyle]="{ color: getColor() }">
    Appareil : {{ appareilName }} -- Statut Active :{{ active }}
  </h4>
  <input type="text" class="form-control" [(ngModel)]="appareilName" />
  <button
    class="btn btn-success m-2"
    (click)="onSwitchOn()"
    [disabled]="active == true"
  >
    Active
  </button>
  <button
    class="btn btn-danger m-2"
    (click)="onSwitchOff()"
    [disabled]="active == false"
  >
    ! Active
  </button>
  <a
    class="btn btn-dark m-2"
    [ngStyle]="{ textDecoration: 'none', color: 'white' }"
    [routerLink]="[id]"
  >
    Detail
  </a>
</li>
