<h2>Authentification</h2>
<button class="btn btn-success" *ngIf="!authStatus" (click)="onSignIn()">
  se connecter
</button>

<button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">
  se deconnecter
</button>
