<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-link" routerLink="auth" routerLinkActive="active">
        Authentification
      </li>
      <li class="nav-link" routerLink="appareils" routerLinkActive="active">
        Appareils
      </li>
      <li class="nav-link" routerLink="edit" routerLinkActive="active">
        Edit Appareil
      </li>
      <li class="nav-link" routerLink="users" routerLinkActive="active">
        Utilisateurs
      </li>
    </ul>
    <div class="navbar-right">
      <p>VOus êtes connecté depuis {{ second }} secondes !</p>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
