<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mise a jour : {{ lastUpdate | async | date: "short" }}</p>
  <ul class="list-group">
    <app-appareil
      *ngFor="let appareil of appareils; let i = index"
      [indexOfAppareil]="i"
      [appareilName]="appareil.name"
      [active]="appareil.active"
      [id]="appareil.id"
    ></app-appareil>
  </ul>
  <button class="btn btn-info mt-3" [disabled]="!isAuth" (click)="onSubmit()">
    Submit
  </button>
  <button class="btn btn-success mt-3 ml-2" (click)="onActive()">
    tout active
  </button>
  <button class="btn btn-danger mt-3 ml-2" (click)="offActive()">
    tout active
  </button>
  <button class="btn btn-dark mt-3 ml-2" (click)="onSave()">Enregistrer</button>
  <button class="btn btn-dark mt-3 ml-2" (click)="onFetch()">Charger</button>
</div>
