<a
  routerLink="/new-user"
  routerLinkActive="router-link-active"
  class="btn btn-primary mb-2"
  >Ajouter Utilisateur</a
>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <p>{{ user.email }}</p>
    <p>Cette personne prefere le {{ user.drinkPreference }}</p>
  </li>
</ul>
